.greeting-container {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px 5px 0px;
  margin: 20px 0 0 0;
}

.greeting-selection {
  width: 99%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  border-radius: 20px;
}

/* iPad and up */
@media (min-width: 768px) {
  .greeting-selection {
    height: 500px;
  }
}
@media (min-width: 1100px) {
  .greeting-selection {
    height: 350px;
  }
}

.scrollbar {
  position: relative;
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8 !important;
  }
  &::-webkit-scrollbar-track {
    background-color: #c9008240;
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: #c9008240;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #c90082;
  }
}

.greeting-item {
  transition: all 0.3s ease;
  border-bottom: 1px solid #fad5a9;
}

.greeting-item:last-child {
  border-bottom: none;
}

.greeting-label {
  display: flex;
  align-items: center;
  padding: 16px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.greeting-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #c90082;
  border-radius: 50%;
  margin-right: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease;
}

.greeting-radio:checked::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #c90082;
  border-radius: 50%;
  position: absolute;
  transition: background-color 0.3s ease;
}

.greeting-text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}

.selected-icon {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.greeting-item.selected {
  background-color: #ff6d00;
  transition: background-color 0.3s ease;
  display: flex;
}

.greeting-item.selected .greeting-text {
  color: white;
}

.greeting-item.selected .greeting-radio {
  border-color: white;
}

.greeting-item.selected .greeting-radio:checked::after {
  background-color: white;
}
